@import "./bourbon/bourbon";
@import "./neat/neat";
<<<<<<< HEAD
@import "main.scss";
=======
$primary-color: #1352A2;
$font-color1: white;
$font-color2: #af4946;
$font-color3: #692b2a; /*A hover mod*/
$background: #B0B0B0;
$font-stack: 'Philosopher', sans-serif;
>>>>>>> 23c6651e73f17380d48fbf84fd868002e5fab3ba

body{
  background-color: $background;
  margin-left: 10%;
  margin-right: 10%;
}
<<<<<<< HEAD
#upper{
  display: inline-flex;
  width: 100%;
  h1 {
    color: $font-color2;
=======
h1 {
    color: $font-color2;
    display: inline-block;
>>>>>>> 23c6651e73f17380d48fbf84fd868002e5fab3ba
    font-family: $font-stack;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-content: center;
    font-size: 75px;
    text-align: center;
<<<<<<< HEAD
    @include span-columns(8);
  }
  div ul a{
    width: 100%;
    font-size: 35px;
    align-content: center;
    text-align: center;
    li{
      width: 100%;
    }
  }
}
.searchDiv{
  border: 1px solid white;
=======

}
.searchDiv{
  border: 1px solid $font-color2;
>>>>>>> 23c6651e73f17380d48fbf84fd868002e5fab3ba
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
<<<<<<< HEAD
  background-color: $primary-color;
  border-radius: 10px;

  p, input{
    color: $font-color2;
    font-family: $font-stack;
    font-size: 30px;
    display: inline-flex;
  }
  input{
    width: 50%;
    border-radius: 20px;
  }
  p{
    width: 20%;
=======

  p{
    color: $font-color2;
    display: block;
    font-family: $font-stack;
    font-size: 30px;
>>>>>>> 23c6651e73f17380d48fbf84fd868002e5fab3ba
  }


}
<<<<<<< HEAD
#button2{
=======
.button{
>>>>>>> 23c6651e73f17380d48fbf84fd868002e5fab3ba
  text-decoration: none;
  font-family: $font-stack;
  width: 200px;
  list-style: none;
  display: block;
  font-size: 35px;
  border: 1px solid $font-color1;
  background-color: $font-color2;
  color: $font-color1;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  width: 75%;
<<<<<<< HEAD
  border-radius: 10px;
}
  #button2:hover{
=======
}
  button:hover{
>>>>>>> 23c6651e73f17380d48fbf84fd868002e5fab3ba
    background-color: $font-color3;
  }
