@import "./bourbon/bourbon";
@import "./neat/neat";
@import "main.scss";

body{
  background-color: $background;
  margin-left: 10%;
  margin-right: 10%;
}
#upper{
  display: inline-flex;
  width: 100%;
  h1 {
    color: $font-color2;
    font-family: $font-stack;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-content: center;
    font-size: 75px;
    text-align: center;
    @include span-columns(8);
  }
  div ul a{
    width: 100%;
    font-size: 35px;
    align-content: center;
    text-align: center;
    li{
      width: 100%;
    }
  }
}
.searchDiv{
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  background-color: $primary-color;
  border-radius: 10px;

  p, input{
    color: $font-color2;
    font-family: $font-stack;
    font-size: 30px;
    display: inline-flex;
  }
  input{
    width: 50%;
    border-radius: 20px;
  }
  p{
    width: 20%;
  }


}
#button2{
  text-decoration: none;
  font-family: $font-stack;
  width: 200px;
  list-style: none;
  display: block;
  font-size: 35px;
  border: 1px solid $font-color1;
  background-color: $font-color2;
  color: $font-color1;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  width: 75%;
  border-radius: 10px;
}
  #button2:hover{
    background-color: $font-color3;
  }
